
.vs
src/*/bin/*
src/*/obj/*
.DS_Store
*.sqlite3
/Data/token.txt
discord-token.txt
/Data/pressgang.sqlite3-shm
/Data/pressgang.sqlite3-wal
*.tar
*.gz
/Deploy/msf-press-gang/
/Deploy/zola*
foo
*.sqlite3-shm
Zola.MsfClient/kiota
iterate.sh
build/*
